<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/edulogo.svg') }}">
  <title>Edu.ai Learning</title>
  <link rel="stylesheet" href="static/css/basic.css" />
  <link rel="stylesheet" href="static/css/sidebar.css" />
  <link rel="stylesheet" href="static/css/myLearning.css" />
  <link rel="stylesheet" href="static/css/animations.css" />
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body>
  <div class="container">
    <aside class="sidebar" id="sidebar">
      {% include 'dashboard/sidebar.html' %}
    </aside>

    <main class="learning-container initial">
      <div id="loading-container" class="loading-container">
        <lottie-player 
          src="static/animations/Animation - 1740634163547.json" 
          background="transparent" 
          speed="1" 
          loop 
          autoplay 
          class="lottie-animation">
        </lottie-player>
      </div>
    </main>
  </div>

  <script src="static/js/myLearning.js"></script>
</body>
</html>